//Variables

//Typography
@import url("https://fonts.googleapis.com/css?family=Playfair+Display|Work+Sans"); //Work Sans and Playfair Display fonts.
//Fonts families
$default-font: "Work Sans", sans-serif;
$secundary-font: "Playfair Display", serif;
//Fonts sizes
$regular: 500;
//COLORS
$default-color: rgb(55, 58, 60);
